{% extends "templates/theme.twig" %}

{% block frontmatter %}{% endblock %}
{% macro subTree(loopPage, project, breadCrumb) %}
	{% set isActive = (loopPage.getUri in breadCrumb|keys) %}
	<li{% if isActive %} class="active"{% endif %}>
		<a href="{{ project.getUrl(loopPage.getUri) }}">{{ loopPage.getNavName }}</a>
		{% if loopPage.hasChildren and isActive %}
			<ul class="nav">
				{% import _self as nav %}
				{% for child in project.getChildrenOf(loopPage) %}
					{{ nav.subTree(child, project, breadCrumb) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro subTree %}
{% import _self as nav %}

{% block content %}

	<div class="row blockspace">
		<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
			<a href="{{ project.getUrl('/') }}">
				<img src="{{ project.getUrl('/images/logo.png') }}" id="brandimg" class="img-responsive" alt="{{ project.getName }}">
			</a>

			<!-- sidebar -->
			<nav id="sidebar" role="navigation">

				<a href="{{ project.getUrl('/become-member.html') }}" title="Mitglied werden" class="btn btn-block btn-success btn-lg text-uppercase">
					Mitglied werden
				</a>

				<hr class="blockspace">

				<ul class="nav">
					{% for loopPage in project.getPageConfigsAtLevel(2) %}

						{{ nav.subTree(loopPage, project, breadCrumb) }}

					{% endfor %}
				</ul>
			</nav>

		</div>
		<div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">

			<h1>{{ project.getName }} <span class="small">[VR 9725]</span></h1>

			<hr class="blockspace">

			<div class="row hidden-xs hidden-sm">

				<div class="col-md-12 col-lg-12">
					<ul class="breadcrumb hidden-xs hidden-sm">
						{% for uri, title in breadCrumb %}
							{% if not loop.last %}
								<li>
									<a href="{{ project.getUrl(uri) }}">{{ title }}</a>
								</li>
							{% else %}
								<li class="active">{{ title }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>

			</div>

			{{ content|raw }}


		</div>
	</div>

{% endblock %}
