{% block frontmatter %}{% endblock %}
<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>{{ page.getPageTitle }} | {{ pages.getProjectName }}</title>
	<meta name="description" content="Coming Soon">
	<meta name="keywords" content="{{ page.getTags|join(', ') }}">
	<meta name="HandheldFriendly" content="True"/>
	<meta name="geo.region" content="DE-SN"/>
	<meta name="geo.placename" content="Dresden"/>
	<meta name="geo.position" content="51.052088;13.741672"/>
	<meta name="ICBM" content="51.052088, 13.741672"/>
	<meta name="twitter:site" content="@twitter_handle@">
	<meta name="twitter:creator" content="@twitter_handle@">
	<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type": "Person",
  "name": "PHP USERGROUP DRESDEN e.V.",
  "image": "{{ pages.getBaseUrl ~ page.getImageUrl }}",
  "url": "{{ pages.getBaseUrl }}",
  "sameAs" : [
      "@twitter_url@",
      "@xing_url@",
      "@gitter_url@",
      "@slackteam_url@",
      "@facebook_url@"
    ]
  }
}
	</script>
	<meta property="article:author" content="@xing_url@"/>
	<meta property="article:publisher" content="@xing_url@"/>

	<link rel="apple-touch-icon" sizes="57x57" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-57x57.png' }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-60x60.png' }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-72x72.png' }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-76x76.png' }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-114x114.png' }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-120x120.png' }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-144x144.png' }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-152x152.png' }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ pages.getBaseUrl ~ '/images/favicons/apple-icon-180x180.png' }}">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ pages.getBaseUrl ~ '/images/favicons/android-icon-192x192.png' }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ pages.getBaseUrl ~ '/images/favicons/favicon-32x32.png' }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ pages.getBaseUrl ~ '/images/favicons/favicon-96x96.png' }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ pages.getBaseUrl ~ '/images/favicons/favicon-16x16.png' }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ pages.getBaseUrl ~ '/images/favicons/ms-icon-144x144.png' }}">
	<meta name="theme-color" content="#ffffff">

	<link rel="canonical" href="{{ pages.getBaseUrl }}"/>
	<meta name="referrer" content="origin"/>

	<meta property="og:site_name" content="{{ pages.getProjectName }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:title" content="{{ page.getPageTitle }} | {{ pages.getProjectName }}"/>
	<meta property="og:description" content="{{ page.getDescription }}"/>
	<meta property="og:url" content="{{ pages.getBaseUrl }}"/>
	<meta property="og:image" content="{{ pages.getBaseUrl ~ page.getImageUrl }}"/>
	<meta property="article:published_time" content="{{ 'now'|date('c') }}"/>
	<meta property="article:modified_time" content="{{ 'now'|date('c') }}"/>
	{% for tag in page.getTags %}
		<meta property="article:tag" content="{{ tag }}"/>
	{% endfor %}
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:title" content="{{ page.getPageTitle }} | {{ pages.getProjectName }}"/>
	<meta name="twitter:description" content="{{ page.getDescription }}"/>
	<meta name="twitter:url" content="{{ pages.getBaseUrl ~ page.getUri }}"/>
	<meta name="twitter:image:src" content="{{ pages.getBaseUrl ~ page.getImageUrl }}"/>

	<meta name="generator" content="IceHawk Static Page Generator"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ pages.getBaseUrl ~ '/css/webfonts.css' }}'">
	<link rel="stylesheet" href="{{ pages.getBaseUrl ~ '/css/main.css' }}">
	<script src="https://use.fontawesome.com/12e03fffec.js" async="async"></script>
</head>
<body>

<div class="page-container">

	<div class="container">

		{% block content %}{% endblock %}

	</div><!--/.container-->

</div><!--/.page-container-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
