{% macro subTree(loopPage, project, breadCrumb) %}
	{% set isActive = (loopPage.getUri in breadCrumb|keys) %}
	<li{% if isActive %} class="active"{% endif %}>
		<a href="{{ project.getUrl(loopPage.getUri) }}">{{ loopPage.getNavName }}</a>
		{% if loopPage.hasChildren and isActive %}
			<ul class="nav">
				{% import _self as nav %}
				{% for child in project.getChildrenOf(loopPage) %}
					{{ nav.subTree(child, project, breadCrumb) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro subTree %}
{% import _self as nav %}
<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<base href="{{ project.getBaseUrl }}">
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>{{ page.getPageTitle }} | {{ project.getName }}</title>
	<meta name="description" content="Coming Soon">
	<meta name="keywords" content="{{ page.getTags|join(', ') }}">
	<meta name="HandheldFriendly" content="True"/>
	<meta name="geo.region" content="DE-SN"/>
	<meta name="geo.placename" content="Dresden"/>
	<meta name="geo.position" content="51.052088;13.741672"/>
	<meta name="ICBM" content="51.052088, 13.741672"/>
	<meta name="twitter:site" content="@twitter_handle@">
	<meta name="twitter:creator" content="@twitter_handle@">
	<script type="application/ld+json">{% spaceless %}
{
  "@context" : "http://schema.org",
  "@type": "Person",
  "name": "PHP USERGROUP DRESDEN e.V.",
  "image": "{{ project.getUrl(page.getImageUrl) }}",
  "url": "{{ project.getBaseUrl }}",
  "sameAs" : [
      "@twitter_url@",
      "@xing_url@",
      "@gitter_url@",
      "@slackteam_url@",
      "@meetup_url@",
      "@facebook_url@"
    ]
  }
}{% endspaceless %}</script>
	<meta property="article:author" content="@xing_url@"/>
	<meta property="article:publisher" content="@xing_url@"/>

	<link rel="apple-touch-icon" sizes="57x57" href="{{ project.getUrl('/images/favicons/apple-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ project.getUrl('/images/favicons/apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ project.getUrl('/images/favicons/apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ project.getUrl('/images/favicons/apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ project.getUrl('/images/favicons/apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ project.getUrl('/images/favicons/apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ project.getUrl('/images/favicons/apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ project.getUrl('/images/favicons/apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ project.getUrl('/images/favicons/apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ project.getUrl('/images/favicons/android-icon-192x192.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ project.getUrl('/images/favicons/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ project.getUrl('/images/favicons/favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ project.getUrl('/images/favicons/favicon-16x16.png') }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ project.getUrl('/images/favicons/ms-icon-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">

	<link rel="canonical" href="{{ project.getUrl(page.getUri) }}"/>
	<meta name="referrer" content="origin"/>

	<meta property="og:site_name" content="{{ project.getName }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:title" content="{{ page.getPageTitle }} | {{ project.getName }}"/>
	<meta property="og:description" content="{{ page.getDescription }}"/>
	<meta property="og:url" content="{{ project.getBaseUrl }}"/>
	<meta property="og:image" content="{{ project.getUrl(page.getImageUrl) }}"/>
	<meta property="article:published_time" content="{{ 'now'|date('c') }}"/>
	<meta property="article:modified_time" content="{{ 'now'|date('c') }}"/>
	{% for tag in page.getTags %}
		<meta property="article:tag" content="{{ tag }}"/>
	{% endfor %}
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:title" content="{{ page.getPageTitle }} | {{ project.getName }}"/>
	<meta name="twitter:description" content="{{ page.getDescription }}"/>
	<meta name="twitter:url" content="{{ project.getUrl(page.getUri ) }}"/>
	<meta name="twitter:image:src" content="{{ project.getUrl(page.getImageUrl) }}"/>

	<meta name="generator" content="IceHawk Static Page Generator"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ project.getUrl('/css/webfonts.css') }}">
	<link rel="stylesheet" href="{{ project.getUrl('/css/twemoji-awesome.css') }}">
	<link rel="stylesheet" href="{{ project.getUrl('/css/main.css') ~ '?' ~ ('now'|date('YmdHis')) }}">
	<script src="https://use.fontawesome.com/e89ed69fdb.js" async="async"></script>
	{% block stylesheets %}{% endblock %}
</head>
<body>

<div class="page-container">

	<div class="container">

		<div class="row row-offcanvas row-offcanvas-left">

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sidebar-offcanvas" id="sidebar" role="navigation">
				<!-- sidebar -->
				<nav id="sidenav">
					<a href="{{ project.getUrl('/') }}" class="hidden-xs hidden-sm">
						{#{% if ('now'|date('m')) in [11,12] %}#}
							{#<img src="{{ project.getUrl('/images/logo-xmas.png') }}" id="brandimg" class="img-responsive" alt="{{ project.getName }}">#}
						{#{% else %}#}
							<img src="{{ project.getUrl('/images/logo.png') }}" id="brandimg" class="img-responsive" alt="{{ project.getName }}">
						{#{% endif %}#}
					</a>

					<a href="{{ project.getUrl('/become-member.html') }}" title="Mitglied werden" class="blockspace btn btn-block btn-success btn-lg text-uppercase">
						<i class="fa fa-hand-peace-o"></i> Mitglied werden
					</a>

					<hr class="blockspace">

					<ul class="nav">
						<li class="hidden-sm hidden-md hidden-lg">
							<a href="{{ project.getUrl('/') }}" title="Home">Home</a>
						</li>
						{% for loopPage in project.getPageConfigsAtLevel(2) %}

							{{ nav.subTree(loopPage, project, breadCrumb) }}

						{% endfor %}
					</ul>

					<hr class="blockspace">

					<div id="socialmedia">
						<div class="row">
							<div class="col-xs-3 text-center">
								<a href="@meetup_url@" target="_blank" title="PHP USERGROUP DRESDEN e.V. at meetup.com"><i class="fa fa-meetup"></i></a>
							</div>
							<div class="col-xs-3 text-center">
								<a href="@twitter_url@" target="_blank" title="PHP USERGROUP DRESDEN e.V. at twitter"><i class="fa fa-twitter"></i></a>
							</div>
							<div class="col-xs-3 text-center">
								<a href="@facebook_url@" target="_blank" title="PHP USERGROUP DRESDEN e.V. at facebook"><i class="fa fa-facebook"></i></a>
							</div>
							<div class="col-xs-3 text-center">
								<a href="@xing_url@" target="_blank" title="PHP USERGROUP DRESDEN e.V. at facebook"><i class="fa fa-xing"></i></a>
							</div>
							<div class="col-xs-3 text-center">
								<a href="@slackteam_url@" target="_blank" title="PHP USERGROUP DRESDEN e.V. at slack"><i class="fa fa-slack"></i></a>
							</div>
							<div class="col-xs-3 text-center">
								<a href="@github_url@" target="_blank" title="PHP USERGROUP DRESDEN e.V. at github"><i class="fa fa-github"></i></a>
							</div>
							<div class="col-xs-3 text-center">
								<a href="@youtube_url@" target="_blank" title="PHP USERGROUP DRESDEN e.V. at YouTube"><i class="fa fa-youtube"></i></a>
							</div>
						</div>
					</div>

					<hr class="blockspace">

					<div class="newsletter-form">
						<form action="//phpug-dresden.us11.list-manage.com/subscribe/post?u=8ff315933ee2697519dd5ab74&amp;id=5b5e847216" method="post" id="newsletter-form" target="_blank" role="form">
							<div class="form-group">
								<label for="newsletter-email" class="sr-only">Newsletter</label>
								<input type="email" value="" name="EMAIL" class="form-control" id="newsletter-email" placeholder="E-Mail Adresse" required>
							</div>
							<div class="form-group">
								<input type="submit" value="Newsletter abonnieren" name="subscribe" id="newsletter-button" class="btn btn-md btn-block btn-success">
							</div>
						</form>
					</div>

					<hr class="blockspace">

					<div id="swk">
						<a href="https://www.softwerkskammer.org/groups/sachsen" target="_blank" title="Softwerkskammer Sachsen">
							<img src="{{ project.getUrl('/images/softwerkskammer.png') }}" alt="Logo Softwerkskammer" class="img-responsive">
						</a>
					</div>

				</nav>
			</div>

			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9" id="mainstage">

				<h1>
					<a href="javascript:void(0);" data-toggle="offcanvas" data-target="#sidebar" class="visible-xs hidden-sm hidden-md hidden-lg pull-left">
						<i class="fa fa-bars"></i>&nbsp;|&nbsp;
					</a>
					<span class="pull-right visible-xs visible-sm hidden-md hidden-lg">
						<img src="{{ project.getUrl('/images/favicons/ms-icon-70x70.png') }}" id="brandimg" class="img-responsive" alt="{{ project.getName }}">
					</span>
					<span class="visible-xs visible-sm hidden-md hidden-lg">

					</span>
					{{ project.getName }} <span class="small">[VR 9725]</span>
				</h1>

				<hr class="blockspace">

				<div class="row hidden-xs hidden-sm">

					<div class="col-md-12 col-lg-12">
						<ul class="breadcrumb hidden-xs hidden-sm">
							{% for uri, title in breadCrumb %}
								{% if not loop.last %}
									<li>
										<a href="{{ project.getUrl(uri) }}">{{ title }}</a>
									</li>
								{% else %}
									<li class="active">{{ title }}</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>

				</div>

				{% block content %}{% endblock %}

			</div>
		</div>


	</div><!--/.container-->

	<div class="container" id="footer">

		<hr class="blockspace">

		<div class="row blockspace">
			<div class="col-xs-12 text-center small text-muted">
				@website_version@
				&middot;
				&copy; {{ 'now'|date('Y') }} PHP USERGROUP DRESDEN e.V.
				&middot;
				<a href="{{ project.getUrl('/statutes.html') }}">Satzung</a>
				&middot;
				<a href="{{ project.getUrl('/imprint.html') }}">Impressum</a>
				&middot;
				<a href="{{ project.getUrl('/privacy.html') }}">Datenschutz</a>
				&middot;
				Letzte Änderung: {{ 'now'|date('d.m.Y H:i') }}
			</div>
		</div>

	</div><!--/.container-->

</div><!--/.page-container-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ project.getUrl('/js/main.js') ~ '?' ~ ('now'|date('YmdHis')) }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
